@model PedidoVirtualWeb.Models.Categoria

@{
    ViewBag.Title = "Visualizar Categoria";
}

<h1 style="color:#FFFFFF">Visualizar Categoria</h1>

<hr />

<div> @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-primary" })</div>

<div>
    <dl style="margin-top:20px; background-color:#E1E1E1; padding:10px; border-radius:5px;  border:2px solid #FFFFFF" class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>

<div>@Html.ActionLink("Editar", "Edit", new { id = Model.CategoriaId }, new { @class = "btn btn-primary" })</div>
